@import "tailwindcss";

@theme {
  --color-primary: #DC2626;
  --color-secondary: #FBBF24;
  --color-dark: #1F2937;
}

@layer base {
  body {
    background-color: var(--color-dark);
    color: white;
  }
}
